{
    "globals": {},
    "ecmaFeatures": {
        "arrowFunctions": false,
        "binaryLiterals": true,
        "blockBindings": true,
        "classes": true,
        "defaultParams": true,
        "destructuring": true,
        "forOf": true,
        "generators": true,
        "modules": true,
        "objectLiteralComputedProperties": true,
        "objectLiteralDuplicateProperties": true,
        "objectLiteralShorthandMethods": true,
        "objectLiteralShorthandProperties": true,
        "octalLiterals": true,
        "regexUFlag": true,
        "regexYFlag": true,
        "spread": true,
        "superInFunctions": true,
        "templateStrings": true,
        "unicodeCodePointEscapes": true,
        "globalReturn": false,
        "jsx": false
    },
    "rules": {
        "quotes": [
            2,
            "single"
        ],
        "eol-last": 0,
        "new-cap": 0,
        "no-console": 0,
        "yoda": [
            2,
            "always"
        ],
        "max-depth": [
            2,
            3
        ],
        "max-params": [
            2,
            3
        ],
        "no-underscore-dangle": [0]
    }
}